body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
    display: flex;
    justify-content: center;
}

#container {
    background-color: rgba(0,0,100,1);
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    padding: 4px;
}

#display-container {
    padding: 0;
    margin: 0;
    border-radius: 4px;
    border-color: #000;
    border-radius: 5px;
}

#display {
    border-radius: 4px;

}

#operators-container {
    display: flex;
    height: 50px;
    padding: 0;
    margin: 0;
}

#display {
    width: 395px;
    height: 50px;
    border: none;
    font-size: 32px;
}

#buttons-container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    gap: 0;
}

#num-buttons-container {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.buttons {
    padding: 0;
    margin: 0;
    width:  100px;
    height: 50px;
    background-color: rgba(100,100,210,1);
    border-radius: 6px;
    border-color: black;
}

#decimal {
    padding: 0;
    margin: 0;
    width: 200px;
    height: 50px;
    background-color: rgba(100,100,210,1);
    border-radius: 6px;
    border-color: black;
}

#right-buttons-container {
    display: flex;
    flex-direction: column;
}

#equals {
    height: 100px;
    width: 100px;
}

#clear {
    height: 100px;
    width: 100px;
}

.operators {
    background-color: #333;
    color: #EEE;
}